/* 
- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 20%)
- Dark Grey: hsl(0, 0%, 12%)
- Off Black: hsl(0, 0%, 8%)
*/

$txt-primary: hsl(0, 0%, 100%);
$txt-secondary: hsl(75, 94%, 57%);
$btn-primary: hsl(0, 0%, 20%);
$card-primary: hsl(0, 0%, 12%);
$background-primary: hsl(0, 0%, 8%);